.header {
  margin-top: 20px;
  .row{
    margin:auto;
  }
  &__nav, &__nav1 {
    @include font($color-darkBlue, 12px, 600, $font-robo);
    text-transform: uppercase;
    }
    &__nav{
      margin-right: 30px;
   }
&__navigation {
    @include flex-center(center);
  }
  &__logo {
    @include flex-center();
    margin: 0 auto;
  }
  &__icon{
    margin-right:  20px;
  }
 }
