.nature {
  &__title {
    letter-spacing: 0.5px;
    padding: 48px 0 16px;
  }
  &__img {
    @include flex-center();
    margin: 0 auto;
  }
  &__button--men {
    margin-right: 12px;
  }
  &__button--women {
    margin-left: 12px;
  }
  .row {
    @include flex-center();
    margin: 30px 0 120px;
  }
  &__button--men,
  &__button--women {
    width: 180px;
}
}
